#root {
    margin: 100px auto;
}
.box {
    margin:0 auto;
    text-align: center;
}
.box ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: space-around;
}
